<div class="d-flex justify-content-center align-items-center vh-100">
    <ngb-alert [dismissible]="false" type="light">
        <div class="text-center">
            <a class="cs-svg-lg">
                <i class="text-warning" csSvgIcon="cs_warning"></i>
            </a>
            <h5 class="text-warning py-2">
                @if(errorMsgDetail){
                {{errorMsgDetail.statusCode}} :
                }
                {{errorTitle}}
            </h5>
        </div>
        <div>
            @if(errorMsgDetail && errorMsgDetail.errorDetail){
            <p class="text-muted fw-semibold">
                {{errorMsgDetail.errorDetail}}

            </p>
            }
        </div>
    </ngb-alert>
</div>