<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-50">
        <div class="p-md-5 p-3 m-3">
            <div class="d-felx flex-column justify-content-center">
                <div class="form-header clearfix mb-5">
                    <div class="form-heading">
                        <div class="form-title text-capitalize display-6 text-secondary font-weight-light">
                            {{'FORGOT_PASSWORD_HEADING'|translate}}
                        </div>
                    </div>
                </div>
                <ngb-alert [dismissible]="false" type="success">
                    <div>
                        <div>
                            <small>{{'INSTRUCTION_ON_HOW_TO_RESET_YOUR_PASSWORD_AND_SENT_TO_ASSOCIATED_EMAIL'|translate}}</small>
                        </div>
                        <div>
                            <small>{{'CHECK_EMAIL_FOLLOW_INSTRUCTIONS_TO_RESET_PWD'|translate}}</small>
                        </div>
                    </div>
                </ngb-alert>
                <div class="mt-2 d-flex justify-content-center">
                    <a class="text-primary" routerLink="/auth/login">
                        {{'BUTTON_SIGN_IN'| translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <small>{{'INSTRUCTION_ON_HOW_TO_RESET_YOUR_PASSWORD_AND_SENT_TO_ASSOCIATED_EMAIL'|translate}}</small>
</div>
<div>
    <small>{{'CHECK_EMAIL_FOLLOW_INSTRUCTIONS_TO_RESET_PWD'|translate}}</small>
</div>
<div>
    <a routerLink="/auth/login">
        {{'BUTTON_SIGN_IN' |translate}}
    </a>
</div>