@if(dataStatus === dataStatusEnum.Fetching){
<app-loading></app-loading>
}

@if(dataStatus === dataStatusEnum.DataAvailable){
<div class="card card-body border-0 p-0">
    <div class="mb-3 mt-2">
        <h4 class="text-muted">
            {{'MAIL_SETTING_HEADING'|translate}}
        </h4>
    </div>
</div>
@if (detailForm) {
<div class="row card card-body m-1">
    <div class="col-md-12">
        <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" appFocusFirstInvalidField>
            <div class="row">
                <div class="form-group mb-2 col-md-6">
                    <label for="input-userName">{{'userName'|translate}}</label>
                    <input id="input-userName" class="form-control" type="text" formControlName="userName"
                        autocomplete="off" [ngClass]="{ 'is-invalid' : isInvalid(userName) }">
                    @if(userName && isInvalid(userName)){
                    <small class="alert alert-danger p-1">
                        @if(userName.errors?.['required']){
                        {{'userName' | translate}} {{'FIELD_REQUIRED' | translate}}
                        }
                    </small>
                    }
                </div>
                <div class="form-group mb-2 col-md-6">
                    <label for="input-password">{{'password'|translate}}</label>
                    <div class="input-group form-group">
                        <input id="input-password" class="form-control" type="{{ isShownPwd ? 'text' : 'password' }}"
                            formControlName="password" autocomplete="off"
                            [ngClass]="{ 'is-invalid' : isInvalid(password) }">
                        <div class="input-group-append">
                            <span class="input-group-text rounded-end rounded-0 py-0 h-100">
                                <button class="bg-transparent reveal border-0 cs-svg" type="button"
                                    (click)="isShownPwd = !isShownPwd">
                                    @if (isShownPwd) {
                                    <i [ngbTooltip]="'TOOLTIP_PWD_HIDE'|translate" csSvgIcon="cs_eye_slash"></i>
                                    }
                                    @else{
                                    <i [ngbTooltip]="'TOOLTIP_PWD_SHOW'|translate" csSvgIcon="cs_eye"></i>
                                    }
                                </button>
                            </span>
                        </div>
                    </div>
                    @if(password && isInvalid(password)){
                    <small class="alert alert-danger p-1">
                        @if(password.errors?.['required']){
                        {{'password' | translate}} {{'FIELD_REQUIRED' | translate}}
                        }
                    </small>
                    }
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-2 col-md-6">
                    <label for="input-serverAddress">{{'serverAddress'|translate}}</label>
                    <input id="input-serverAddress" class="form-control" type="text" formControlName="serverAddress"
                        autocomplete="off" [ngClass]="{ 'is-invalid' : isInvalid(serverAddress) }">
                    @if(serverAddress && isInvalid(serverAddress)){
                    <small class="alert alert-danger p-1">
                        @if(serverAddress.errors?.['required']){
                        {{'serverAddress' | translate}} {{'FIELD_REQUIRED' | translate}}
                        }
                    </small>
                    }
                </div>

                <div class="form-group mb-2 col-md-6">
                    <label for="input-serverPort">{{'serverPort'|translate}}</label>
                    <input id="input-serverPort" class="form-control" type="text" formControlName="serverPort"
                        autocomplete="off" [ngClass]="{ 'is-invalid' : isInvalid(serverPort) }">
                    @if(serverPort && isInvalid(serverPort)){
                    <small class="alert alert-danger p-1">
                        @if(serverPort.errors?.['required']){
                        {{'serverPort' | translate}} {{'FIELD_REQUIRED' | translate}}
                        }
                        @if(serverPort.errors?.['pattern']){
                        {{'serverPort' | translate}} {{'MUST_BE_NUMBER' | translate}}
                        }
                    </small>
                    }
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-2 col-md-6">
                    <label for="input-fromEmail">{{'fromEmail'|translate}}</label>
                        <input id="input-fromEmail" class="form-control" type="text" formControlName="fromEmail"
                            autocomplete="off" [ngClass]="{ 'is-invalid' : isInvalid(fromEmail) }">
                        @if(fromEmail && isInvalid(fromEmail)){
                        <small class="alert alert-danger p-1">
                            @if(fromEmail.errors?.['required']){
                            {{'fromEmail' | translate}} {{'FIELD_REQUIRED' | translate}}
                            }
                            @if(fromEmail.errors?.['pattern']){
                            {{'FIELD_EMAIL_ERROR' | translate}}
                            }
                        </small>
                        }
                </div>
                <div class="col-md-6 pt-4"> 
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="checkbox-isSSL" formControlName="isSSL">
                            <label class="form-check-label" for="checkbox-isSSL">{{'isSSL'|translate}}</label>
                        </div>
                    </div>
                </div>
                
            </div>
           

          

            <div class="clearfix d-flex justify-content-start mt-2">
                <button type="submit" class="btn btn-primary"
                    [disabled]="!detailForm.dirty || submitted">{{'BUTTON_SUBMIT'|translate}}
                    @if (submitted){
                    <span class="spinner-border spinner-border-sm"></span>
                    }
                </button>
                <button type="button" class="btn btn-secondary mx-2"
                    (click)="onCancel()">{{'BUTTON_CANCEL'|translate}}
                </button>
            </div>
        </form>
    </div>
</div>
}
}

@if(dataStatus === dataStatusEnum.Error){
<app-error-detail [errorDetail]="apiError"></app-error-detail>
}