/* dashboard.component.css */
.dashboard {
  background-image: url('../../../../../assets/icons/Ganesh_1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 85vh;
  opacity: 0.025;
}
