<div class="modal-header p-2">
    <div class="modal-heading">
        <div class="modal-title text-muted">{{ 'CHANGE_PASSWORD_HEADING' | translate
            }}
        </div>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    @if (detailForm) {
    <form [formGroup]="detailForm" (ngSubmit)="onSubmit()" appFocusFirstInvalidField>
        <div class="form-group mb-2">
            <label for="input-oldPassword">{{'oldPassword'|translate}}</label>
            <div class="input-group form-group">
                <input id="input-oldPassword" class="form-control" type="{{ isOldPwdShown ? 'text' : 'password' }}"
                    formControlName="oldPassword" autocomplete="off"
                    [ngClass]="{ 'is-invalid' : isInvalid(oldPassword) }">
                <div class="input-group-append">
                    <span class="input-group-text rounded-end rounded-0 py-0 h-100">
                        <button class="bg-transparent reveal border-0 cs-svg" type="button"
                            (click)="isOldPwdShown = !isOldPwdShown">
                            @if (isOldPwdShown) {
                            <i [ngbTooltip]="'TOOLTIP_PWD_HIDE'|translate" csSvgIcon="cs_eye_slash"></i>
                            }
                            @else{
                            <i [ngbTooltip]="'TOOLTIP_PWD_SHOW'|translate" csSvgIcon="cs_eye"></i>
                            }
                        </button>
                    </span>
                </div>
            </div>
            @if(oldPassword && isInvalid(oldPassword)){
            <small class="alert alert-danger p-1">
                @if(oldPassword.errors?.['required']){
                {{'oldPassword' | translate}} {{'FIELD_REQUIRED' | translate}}
                }
            </small>
            }
        </div>

        <div class="form-group mb-2">
            <label for="input-newPassword">{{'newPassword'|translate}}</label>
            <div class="input-group form-group">
                <input id="input-newPassword" class="form-control" type="{{ isNewPwdShown ? 'text' : 'password' }}"
                    formControlName="newPassword" autocomplete="off"
                    [ngClass]="{ 'is-invalid' : isInvalid(newPassword) }">
                <div class="input-group-append">
                    <span class="input-group-text rounded-end rounded-0 py-0 h-100">
                        <button class="bg-transparent reveal border-0 cs-svg" type="button"
                            (click)="isNewPwdShown = !isNewPwdShown">
                            @if (isNewPwdShown) {
                            <i [ngbTooltip]="'TOOLTIP_PWD_HIDE'|translate" csSvgIcon="cs_eye_slash"></i>
                            }
                            @else{
                            <i [ngbTooltip]="'TOOLTIP_PWD_SHOW'|translate" csSvgIcon="cs_eye"></i>
                            }
                        </button>
                    </span>
                </div>
            </div>
            @if(newPassword && isInvalid(newPassword)){
            <small class="alert alert-danger p-1">
                @if(newPassword.errors?.['required']){
                {{'newPassword' | translate}} {{'FIELD_REQUIRED' | translate}}
                }
                @if(newPassword.errors?.['pattern']){
                {{'TEXT_INVALID_PASSWORD_ERROR' | translate}}
                }
            </small>
            }
        </div>

        <div class="form-group mb-2">
            <label for="input-confirmPassword">{{'confirmPassword'|translate}}</label>
            <div class="input-group form-group">
                <input id="input-confirmPassword" class="form-control"
                    type="{{ isConfirmPwdShown ? 'text' : 'password' }}" formControlName="confirmPassword"
                    autocomplete="off" [ngClass]="{ 'is-invalid' : isInvalid(confirmPassword) }">
                <div class="input-group-append">
                    <span class="input-group-text rounded-end rounded-0 py-0 h-100">
                        <button class="bg-transparent reveal border-0 cs-svg" type="button"
                            (click)="isConfirmPwdShown = !isConfirmPwdShown">
                            @if (isConfirmPwdShown) {
                            <i [ngbTooltip]="'TOOLTIP_PWD_HIDE'|translate" csSvgIcon="cs_eye_slash"></i>
                            }
                            @else{
                            <i [ngbTooltip]="'TOOLTIP_PWD_SHOW'|translate" csSvgIcon="cs_eye"></i>
                            }
                        </button>
                    </span>
                </div>
            </div>
            @if(confirmPassword && isInvalid(confirmPassword)){
            <small class="alert alert-danger p-1">
                @if(confirmPassword.errors?.['required']){
                {{'confirmPassword' | translate}} {{'FIELD_REQUIRED' | translate}}
                }
                @if(confirmPassword.errors?.['matching']){
                {{'newPassword' | translate}} {{'TEXT_VALUE_NOT_SAME' | translate}}
                }
            </small>
            }
        </div>
    </form>
    }
</div>
<div class="modal-footer justify-content-end">
    <button type="button" class="btn btn-primary" [disabled]="!detailForm?.dirty || submitted" (click)="onSubmit()">
        {{'BUTTON_SUBMIT'|translate}}
        @if (submitted){
        <span class="spinner-border spinner-border-sm"></span>
        }
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">{{'BUTTON_CANCEL'|translate}}</button>
</div>