<ul class="nav nav-pills flex-column mb-auto text-center">
  @for (menuItem of menuList; let i = $index; track i) {
    <li class="nav-item">
      <a class="nav-link px-2 py-3"
         [routerLink]="menuItem.routerLink"
         [routerLinkActiveOptions]="{ exact: false }"
         routerLinkActive="active"
         placement="right"
         ngbTooltip="{{ menuItem.title | translate }}"
         triggers="mouseenter:mouseleave">
        <i [class]="menuItem.svgIconName" title="{{ menuItem.title | translate }}"></i>
      </a>
    </li>
  }
</ul>
