<div class="toolbar">
  <input type="text" [(ngModel)]="searchText" (input)="filterMedicines()" placeholder="Search medicine..." />
  <button (click)="openPopup()">Add Medicine</button>
</div>

<table>
  <thead>
    <tr>
      <th>Sr.</th>
      <th>Name</th>
      <th>Pack</th>
      <th>Batch No.</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Expiry Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let med of filteredMedicines; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ med.name }}</td>
      <td>{{ med.pack }}</td>
      <td>{{ med.batchNo }}</td>
      <td>{{ med.quantity }}</td>
      <td>{{ med.price }}</td>
      <td>{{ med.expiryDate ? (med.expiryDate | date: 'dd-MM-yyyy') : '' }}</td>
      <td>
        <button class="edit" (click)="editMedicine(med)">Edit</button>
        <button class="delete" *ngIf="med.id" (click)="deleteMedicine(med.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="popup" *ngIf="showPopup && medicineForm">
  <form [formGroup]="medicineForm" (ngSubmit)="addMedicine()" class="popup-form">
    <div class="popup-header">
      <h2>{{ isEditMode ? 'Edit Medicine' : 'Add Medicine' }}</h2>
      <button type="button" class="close-btn" (click)="closePopup()">×</button>
    </div>

    <div class="popup-grid">
      <div class="form-group full">
        <label>Medicine Name</label>
        <ng-select formControlName="name" [items]="filteredNames" bindLabel="name" bindValue="name" [typeahead]="typeahead$"
          [loading]="isLoading" [searchable]="true" [clearable]="true" [addTag]="true" placeholder="Search medicine..."
          (change)="onMedicineSelected($event)">
        </ng-select>

      </div>

      <div class="form-group full">
        <label>Company</label>
        <input formControlName="manufacturer" />
      </div>

      <div class="form-group">
        <label>Pack</label>
        <input formControlName="pack" />
      </div>

      <div class="form-group">
        <label>Batch No.</label>
        <input formControlName="batchNo" />
      </div>

      <div class="form-group">
        <label>Quantity</label>
        <input formControlName="quantity" type="number" />
      </div>

      <div class="form-group">
        <label>Price</label>
        <input formControlName="price" type="number" />
      </div>

      <div class="form-group full">
        <label>Expiry Date</label>
        <input formControlName="expiryDate" type="date" />
      </div>
    </div>

    <div class="popup-footer">
      <button type="submit" [disabled]="medicineForm.invalid">{{ isEditMode ? 'Update' : 'Add' }}</button>
      <button type="button" (click)="closePopup()">Cancel</button>
    </div>
  </form>
</div>